:root {
  color: #1f2937;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #f7f7f8;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
}

#app {
  flex: 1;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
